<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
      <h1 class="col-lg-12">Gestor de Clientes</h1>
      <button on-click="obtenerClientes">Obtener Clientes</button>
    </div>
    <div>
      <table>
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>[[item.idcliente]]</td>
              <td>[[item.nombre]]</td>
              <td>[[item.apellido]]</td>
            </tr>
          </template>
        </tbody>
      </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
            clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
//          var request = new XMLHttpRequest();
//          request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          var request = new XMLHttpRequest();
//          request.open("GET","https://api.mlab.com/api/1/databases/bdbbanca2/collections/movimientos?apiKey=dbUpDdVYzi0uY1kYqxXCmGFhcNn9Zg1G", false);
          request.open("GET","localhost:3000", false);
          request.send();
          this.clientes = JSON.parse(request.response);
          console.log(this.clientes);
      }

      anadirCliente() {
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pedro", "CompanyName":"BBVA"};
        var body=json.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>

</dom-module>
